body{
	background-color: #eee;
	text-align: left;
}

form {
   font: 10pt Arial;
   background-color: #eee;
   padding: 10px;
}

label {
   width: 200px;
   display: inline-block;
   text-align: left;
   margin-right: 8px;
}

input[type=text], select {
   width: 350px;
   padding: 10px;
   margin: 6px 0;
   border: 1px solid #aaa;
   border-radius: 4px;
}

input[type=email], select {
   width: 350px;
   padding: 10px;
   margin: 6px 0;
   border: 1px solid #aaa;
   border-radius: 4px;
}

input[type=password], select {
   width: 350px;
   padding: 10px;
   margin: 6px 0;
   border: 1px solid #aaa;
   border-radius: 4px;
}

input[type=submit] {
   width: 370px;
   background-color: #09f;
   color: white;
   padding: 15px;
   margin: 15px 0;
   border: 1px;
   border-radius: 4px;
   cursor: pointer;
}

input[type=submit]:hover {
   background-color: #07d;
}


input[type=text]:focus {
   background-color: lightblue;  
}

div[id=formErrors] {
   display: none;
   color: red;
}




